header {background-color: rgb(207, 100, 100);}
color:color withi
display: flex;
justify-content: space-around;}
.cabecalho-imagem{width: 22%;}
li {
    display: inline-block;
}
h1{margin: 0 32px;
padding: 90px 0;
}round-color: rgb(247, 3, 3);
color: black;
display: flex;
justify-content: space-around;}
.cabecalho-imagem{width: 22%;}
li {
    display: inline-block;
}
h1{
    margin: 0 32px;
    padding: 90px 0;
}