header {background-color: rgb(3, 128, 150);
color: black;
display: flex;
justify-content: space-around;}
.imagens.cabecalho {width: 55%;}
li{
    display: inline-block;
    margin: 0 70px;
    padding: 90px 0;
font-size: 20px;}

.escola-imagem{
    width:10%;
}